:root {
    --color-theme: #ccebff;
}

.maincontent {
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: left;
    width: 100%;
}

.side-menu {
    flex-basis: 17%;
    margin-right: 15px;
}

.content {
    flex-basis: 83%;
}

#settingscontent {
    background-color: var(--color-theme);
    padding: 35px 50px 50px 50px;
    border-radius: 10px;
    min-height: 80vh;
}

#settingscontent h1 {
    margin: 0px;
}