#banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 5px;
}

#logo {
    width: 17%;
    height: auto;
}

#profile-button {
    width: 40px;
    height: 40px;
}

#profile-button:hover {
    cursor: pointer;
    background-color: lightgray;
    border-radius: 15px;
}

#searchbar {
    width: 55%;
    height: 50px;
    border-radius: 30px;
    border-style: solid;
    border-color: rgb(150, 212, 233);
    outline-color: rgb(33, 142, 196);
    background-color: var(--color-theme);
    background-image: url('../icons/search.svg');
    background-position: 11px 11px;
    background-repeat: no-repeat;
    padding-left: 40px;
}
