.proxy-button {
    background-color: transparent;
    border: none;
}

.input-container {
    display: flex;
    align-items: center;
    gap: 100px;
}

.non-title-container {
    display: flex;
    align-items: center;
}

.input-box {
    padding-right: 47px; 
    
}

.unit {
    margin-left:-47px;
}

.text-container {
    width: 100px;
}
