#filefilters, #fileactions {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--color-theme);
  border-radius: 15px;
  width: 100%;
  height: 45px;
  padding-left: 15px;
}

#filefilters {
  gap: 15px;
}

#fileactions {
  gap: 15px;
}

.filter {
  display: inline-block;
  text-align: center;
  height: 65%;
  background-color: white;
  border-radius: 13px;
  border-width: 1px;
  padding-left: 5px;
  padding-right: 5px;
}

.filter:hover {
  background-color: lightgray;
  cursor: pointer;
}

#clearfilters {
  position: relative;
  left: 20px;
  border-radius: 8px;
  padding-left: 10px;
  padding-right: 10px;
}

#fileactions .icon:hover {
  background-color: rgb(143, 212, 249);
}

.grayedout {
  opacity: 0.5;
}