/* I plan on stylizing this later when everything is combined into one page */
#fileactions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: lightgrey;
  border-radius: 20px;
  width: 70%;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}