/* Sidebar styling */
.side-menu {
    width: 15%;
    flex-grow: 1;
    background-color: var(--color-theme);
    padding: 10px;
    border-radius: 10px;
}

/* Center "Files" and host file button vertically on same line */
#side-menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Navigation item styling */
.nav-item {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

.nav-item:hover {
    background-color: #99D7FF;
    border-radius: 25px;
    font-weight: bold;
}

/* Active item styling */
.active-item {
    background-color: #99D7FF;
    border-radius: 25px;
    font-weight: bold;
}

/* Move text to the right and prevent selecting the text */
.nav-label {
    margin-left: 10px;
    user-select: none;
}