.wallet-section {
  display: flex;
  flex-direction: column;
}

.two-column {
  display: flex;
  flex-direction: column;
  width: fit-content;
  gap: 10px;
}

.row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 25%;
}

.label-value-pair {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  width: 375px;
}

label {
  text-align: left;
  font-weight: bold;
  white-space: nowrap;
}

span {
  text-align: right;
  white-space: nowrap;
}

.chart {
  height: calc(100vh - 350px);
  width: 100%;
}

.chart-header {
  display: flex;
  align-items: center;
  position: relative;
}

.chart-header h3 {
  margin-right: 10px;
}

.chart-header img {
  cursor: pointer;
  margin-left: 10px;
  width: 20px;
  height: 20px;
}

.filter-container,
.time-filter-container {
  align-items: center;
  display: flex;
  position: relative;
}

.time-filter-container {
  margin-left: auto;
}

.dropdown-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  border: 1px solid var(--color-light-gray);
  border-radius: 4px;
  position: absolute;
  top: 25px;
  right: 0;
  background-color: var(--color-white);
  z-index: 1000;
  width: 200px;
}

.dropdown-menu li {
  padding: 8px;
  cursor: pointer;
}

.dropdown-menu li:hover {
  background-color: var(--color-light-gray);
}

.history-section {
  display: flex;
  flex-direction: column;
}

.history-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.history-title {
  display: flex;
  align-items: center;
  position: relative;
}

.history-title img {
  cursor: pointer;
  margin-left: 10px;
  width: 20px;
  height: 20px;
}

.table-container {
  width: 100%;
  max-height: calc(100vh - 225px);
  overflow-y: auto;
  border-left: 1px solid var(--color-light-gray);
  border-top: 1px solid var(--color-light-gray);
  border-right: 1px solid var(--color-light-gray);
  border-radius: 4px;
  margin-top: 20px;
  padding: 0;
}

.table-container table {
  width: 100%;
  border-collapse: collapse;
  table-layout: auto;
}

.table-container th {
  background-color: var(--color-blue-active);
  border-bottom: 1px solid var(--color-light-gray);
  font-weight: bold;
  padding: 12px;
  position: sticky;
  text-align: left;
  top: 0;
}

.table-container td {
  padding: 12px;
  border-bottom: 1px solid var(--color-light-gray);
  word-wrap: break-word;
}

.table-container td>.switch-container {
  padding: 0 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.proxy-row.hover {
  background-color: var(--color-blue-active);
}

.proxy-row.selected {
  background-color: lightgreen !important;
}

.dropdown {
  list-style: none;
  padding: 0;
  margin: 0;
  border: 1px solid var(--color-light-gray);
  border-radius: 4px;
  position: absolute;
  top: 50px;
  right: 0;
  background-color: var(--color-white);
  z-index: 1000;
  width: 200px;
}

.dropdown li {
  padding: 8px;
  cursor: pointer;
}

.dropdown li:hover {
  background-color: var(--color-light-gray);
}

.input-container {
  display: flex;
  align-items: center;
  gap: 100px;
}

.non-title-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.input-box {
  padding-right: 50px;
}

.unit {
  margin-left: -50px;
  position: absolute;
}

.text-container {
  width: 100px;
}

.error-message {
  display: flex;
  align-items: center;
  gap: 3px;
}

.error-message span {
  color: red;
}

.mini-popup {
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  border-radius: 4px;
  border: 2px solid black;
  padding: 5px;

  display:flex;
  flex-direction: column;
  align-items: center;
}

.submission-buttons {
  display: flex;
  justify-content: space-between;
}