/* general containers */
.wallet-section,
.history-section {
  display: flex;
  flex-direction: column;
}

/* two column layout */
.two-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: var(--color-white);
  border-radius: 10px;
  padding: 15px 20px;
  box-shadow: 0 2px 4px var(--color-accent-shadow);
}

/* row and label-value rairs */
.row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 25%;
}

.label-value-pair {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  width: 375px;
}

label {
  text-align: left;
  font-weight: bold;
  white-space: nowrap;
}

span {
  text-align: right;
  white-space: nowrap;
}

/* chart section */
.chart {
  max-height: calc(100vh - 350px);
  width: 100%;
}

.chart-graph {
  background-color: var(--color-white);
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 2px 4px var(--color-accent-shadow);
}

.chart-header {
  display: flex;
  align-items: center;
  position: relative;
}

.chart-header h3 {
  margin-right: 10px;
}

.chart-header img {
  cursor: pointer;
  margin-left: 10px;
  width: 20px;
  height: 20px;
}

/* filter containers */
.filter-container,
.time-filter-container {
  display: flex;
  align-items: center;
  position: relative;
}

.time-filter-container {
  margin-left: auto;
}

/* dropdown menu */
.dropdown-menu,
.dropdown {
  list-style: none;
  padding: 0;
  margin: 0;
  border: 1px solid var(--color-light-gray);
  border-radius: 4px;
  position: absolute;
  background-color: var(--color-white);
  z-index: 1000;
  width: 200px;
}

.dropdown-menu {
  top: 25px;
  right: 0;
}

.dropdown {
  top: 50px;
  right: 0;
}

.dropdown-menu li,
.dropdown li {
  padding: 8px;
  cursor: pointer;
}

.dropdown-menu li:hover,
.dropdown li:hover {
  background-color: var(--color-light-gray);
}

/* history section */
.history-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.history-title {
  display: flex;
  align-items: center;
  position: relative;
}

.history-title img {
  cursor: pointer;
  margin-left: 10px;
  width: 20px;
  height: 20px;
}

/* table container */
.table-container {
  width: 100%;
  max-height: calc(100vh - 225px);
  overflow-y: auto;
  background-color: var(--color-white);
  border: 1px solid var(--color-light-gray);
  border-radius: 4px;
  margin-top: 20px;
  padding: 0;
  box-shadow: 0 4px 8px var(--color-accent-shadow);
}

.table-container table {
  width: 100%;
  border-collapse: collapse;
  table-layout: auto;
}

.table-container th {
  background-color: var(--color-blue-active);
  border-bottom: 1px solid var(--color-light-gray);
  font-weight: bold;
  padding: 12px;
  position: sticky;
  text-align: left;
  top: 0;
}

.table-container td {
  padding: 12px;
  border-bottom: 1px solid var(--color-light-gray);
  word-wrap: break-word;
}

.table-container td>.switch-container {
  padding: 0 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.proxy-row.hover {
  background-color: var(--color-blue-active);
}

.proxy-row.selected {
  background-color: lightgreen !important;
}

/* input containers */
.input-container {
  display: flex;
  align-items: center;
  gap: 100px;
}

.non-title-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.input-box {
  padding-right: 50px;
}

.unit {
  margin-left: -70px;
  position: absolute;
}

.text-container {
  width: 100px;
}

/* error message */
.error-message {
  display: flex;
  align-items: center;
  gap: 3px;
}

.error-message span {
  color: red;
  font-size: 0.85em;
  line-height: 1.2;
}

.error-message-container {
  margin-top: 5px;
  display: flex;
  align-items: center;
  gap: 5px;
}

/* mini popup */
.mini-popup {
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  border-radius: 4px;
  border: 2px solid black;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* buttons */
.submission-buttons {
  display: flex;
  justify-content: space-between;
}

/* truncated cell */
.truncated-cell {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px;
  display: inline-block;
  vertical-align: top;
}

.truncated-cell:hover {
  overflow: auto;
  white-space: normal;
  position: relative;
  z-index: 10;
  background: #fff;
  border: 1px solid #ccc;
  padding: 5px;
}
